doctype html
html
	include ../common/head.jade
	body

		<!--[if lte IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
		<![endif]-->

		.wpapper

			block content

		include ../common/footer.jade