.folio
	p.headline Portfolio

	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_01.jpg", alt="Folio 1")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_02.jpg", alt="Folio 2")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_03.jpg", alt="Folio 3")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_04.jpg", alt="Folio 4")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_05.jpg", alt="Folio 5")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_06.jpg", alt="Folio 6")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_07.jpg", alt="Folio 7")
	.folio__item
		a.folio__link(href="javascript:void(0)")
			img.folio__img(src="img/portfolio/folio_08.jpg", alt="Folio 8")