.footer

<!-- build:js js/vendor.min.js -->
// bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/selectivizr/selectivizr.js')
script(src='bower/css3-mediaqueries-js/css3-mediaqueries.js')
// endbower
<!-- endbuild -->