.menu
	ul.menu__inner
		li.menu__item.menu__item_active
			a.menu__link(href="javascript:void(0)", title="Home") Home
		li.menu__item
			a.menu__link(href="javascript:void(0)", title="About me") About me
		li.menu__item
			a.menu__link(href="javascript:void(0)", title="Works") Works
		li.menu__item
			a.menu__link(href="javascript:void(0)", title="Resume") Resume