@import _var
@import reset

body
	font: 16px/1 $pt_sans
	color: $base_color

.wrapper
	min-width: 320px
	@media screen and (min-width: 1024px)
		width: 1024px
		margin: 0 auto

.header
	@media screen and (min-width: 1024px)
		&:after
			content: ''
			display: block
			clear: both
			height: 0
			visibility: hidden

@import logo
@import menu
@import description
@import folio
@import footer